apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: {{ include "ms-kong.image" (dict "image" .Values.images.kibana "global" .Values.global) }}
          imagePullPolicy: {{ .Values.images.kibana.pullPolicy }}
          ports:
            - containerPort: 5601
          env:
            - name: SERVER_BASEPATH
              value: "/kibana"
            - name: SERVER_REWRITEBASEPATH
              value: "true"
            - name: SERVER_SAMESITECOOKIES
              value: "None"
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch:9200"
            - name: ELASTICSEARCH_USERNAME
              value: "kibana_system"
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "ms-kong.fullname" . }}-elk-secrets
                  key: kibana_password
            - name: TELEMETRY_ENABLED
              value: "false"
---
apiVersion: v1
kind: Service
metadata:
  name: kibana
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  selector:
    app: kibana
  ports:
    - name: http
      port: 5601
      targetPort: 5601
